{% extends "leads.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
    <div class="row">
        <div class="col-md-12 ">
            <ul class="breadcrumb ">
                <li>
                    <a href="{% url 'leads:list' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'leads:list' %}">Tour Leads</a>
                </li>
                <li class="active">Add Lead</li>
            </ul>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-12 ">
            <form class="" id="formLead" role="form" method="POST">
                {% crispy form form.helper1 %}
                <div class="languages row" id="languages">
                    {% crispy formset formset.form.helper %}
                </div>
                {% crispy form form.helper2 %}
                <div class="form-group ">
                    <div class="col-sm-offset-2 col-sm-10 ">
                        <button type="submit" class="btn btn-default ">
                            <i class="fa fa-save fa-fw "></i>Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="formset-template" class="formset-template">
        <div class="form-group" data-id="__prefix__">
            {% crispy formset.empty_form %}
            <input id="id_languages-__prefix__-id" name="languages-__prefix__-id" type="hidden"><input id="id_languages-__prefix__-DELETE" name="languages-__prefix__-DELETE" type="hidden">
            <input id="id_languages-__prefix__-lead" name="languages-__prefix__-lead" type="hidden">
        </div>
    </div>
{% endblock content %}

{% block local_js %}
    <script type="text/javascript" src="{% static 'js/form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datepicker.js' %}"></script>
{% endblock local_js %}
