.asteriskField {
    display: none;
}

.languages {
    margin-bottom: 15px;
}

.formset-template{
    display: none;
}

#ui-datepicker-div{
    z-index: 9999 !important;
}

.ui-datepicker-trigger:hover {
    cursor: pointer;
}
